<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/registr.css}">
    <title>Регистрация</title>
</head>

<body>

<section>
    <div class="form-box">
        <div class="form-value">
            <form class="form" th:action="@{/registration}" th:object="${user}" method="post">
                <h2>Регистрация</h2>
                <div class="inputbox">
                    <ion-icon name="people-outline"></ion-icon>
                    <input type="text" th:field="*{fio}" required>
                    <label for="">Ф И О</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="call-outline"></ion-icon>
                    <input type="text" th:field="*{username}" pattern="\+7\d{10}" maxlength="12" required
                           onblur="if (this.value) this.classList.add('active'); else this.classList.remove('active');">
                    <label for="">Номер телефона (+7XXXXXXXXXX)</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="accessibility-outline"></ion-icon>
                    <input type="text" th:field="*{birthday}" pattern="\d{4}-\d{2}-\d{2}" maxlength="10" required
                           onblur="if (this.value) this.classList.add('active'); else this.classList.remove('active');">
                    <label for="">Дата рождения (YYYY-MM-DD)</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" th:field="*{password}" required>
                    <label for="">Пароль</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" th:field="*{passwordConfirm}" required>
                    <label for="">Подтверждение пароля</label>
                </div>

                <input type="submit" value="Войти" class="login" autocomplete="off">

                <div class="register">
                    <p>Есть аккаунт? <a href="/login">Войти</a></p>
                </div>

                <p th:text="${error}" class="error"></p>
            </form>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>